<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLinkActive="active" routerLink="add">Add Students</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="view">View Students</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="update">Update Students</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="delete">Delete Students</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
